/* Style cho thanh điều hướng */
.navbar {
    background-color: #223665;
    /* Đặt màu nền cho thanh điều hướng */
}

.navbar-logo-text {
    color: #EA3B3F;
    /* Đặt màu cho logo text */
}

.navbar-list {
    display: flex;
    /* Sắp xếp các mục trong ul theo hàng ngang */
    justify-content: space-between;
    /* Phân chia khoảng cách giữa các mục */
    align-items: center;
    /* Căn giữa các mục theo chiều dọc */
}

.navbar-list li a {
    color: white;
    /* Đặt màu chữ cho danh sách và liên kết */
    font-size: 15px;
    /* Đặt cỡ chữ */
}

/* Style cho ô tìm kiếm */
.navbar-search {
    position: relative;
    /* Đặt vị trí tương đối cho mục này để có thể định vị icon search */
}

.navbar-search input {
    height: 30px;
    /* Đặt chiều cao cho ô input */
    width: 100%;
    /* Đặt chiều rộng 100% */
    border-radius: 5px;
    /* Bo tròn các góc của ô input */
    border: none;
    /* Xóa đường viền mặc định */
    padding-right: 30px;
    /* Thêm khoảng cách bên phải để chừa chỗ cho icon */
    padding-left: 6px;
    /* Thêm khoảng cách bên trái cho nội dung input */
    outline: none;
    /* Xóa đường viền mặc định khi input được chọn */
}

.navbar-search i {
    position: absolute;
    /* Định vị icon search tuyệt đối so với phần tử cha */
    font-size: 15px;
    /* Đặt kích thước cho icon */
    right: 12px;
    /* Đặt khoảng cách icon so với bên phải */
    color: #333;
    /* Đặt màu cho icon */
    line-height: 30px;
    /* Căn chỉnh icon theo chiều cao của input */
    cursor: pointer;
    /* Thêm biểu tượng con trỏ khi di chuột vào icon */
    top: 0;
    /* Căn chỉnh icon theo chiều dọc với ô input */
}

/* Style cho nút giỏ hàng */
.navbar-cart-button {
    height: 30px;
    /* Đặt chiều cao cho nút */
    padding: 0 12px;
    /* Thêm khoảng cách padding hai bên cho nút */
    cursor: pointer;
    /* Hiển thị con trỏ dạng pointer khi di chuột qua nút */
    background-color: transparent;
    /* Đặt nền trong suốt cho nút */
    border: 1px solid wheat;
    /* Đặt đường viền màu wheat cho nút */
    border-radius: 5px;
    /* Bo tròn các góc của nút */
    color: #f1f1f1;
    /* Màu chữ */
}

.navbar-cart-button i {
    margin-right: 6px;
    /* Thêm khoảng cách bên phải cho icon bên trong nút */
}

.navbar-cart-button:hover {
    background-color: rgb(77, 12, 229);
    /* Đổi màu nền của nút khi người dùng di chuột qua */
}