body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.main-content {
    padding: 20px;
    width: calc(100% - 250px);
}

h1 {
    font-size: 28px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table th,
.table td {
    text-align: left;
}

.logo {
    width: 100px;
    /* Đặt kích thước của logo */
    height: 100px;
    /* Đặt chiều cao tương ứng */
    border-radius: 50%;
    /* Bo tròn hình ảnh */
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị méo khi cắt */
}